<form>
    <div class="mb-3">
        <label for="precioReak" class="form-label">Precio Ticket</label>
        <input type="number" class="form-control" id="precioReal" name="precioReal1" [(ngModel)]="obTicket.precioTicket">
    </div>
    <div class="mb-3">
        <select class="form-select" [(ngModel)]="obTicket.categoriaEspectador" aria-label="Default select example" name="categoriaEspectador">
            <option selected value="">Categoria de Espectador</option>
            <option  value="l">Local</option>
            <option  value="e">Extrangero</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="fechaDeCompra" class="form-label">Fecha de Compra</label>
        <input type="date" class="form-control" id="fechaDeCompra" name="fechaDeCompra" [(ngModel)]="obTicket.fechaCompra">
    </div>
    <div class="mb-3">
        <select class="form-select" aria-label="Default select example" name="tipoEspectador" [(ngModel)]="obTicket.espectador" >
            <option  *ngFor="let e of listaEspectadores" [value]="e._id"> {{e.nombre}}</option>
        </select>
       
    </div>
    

    <button type="submit" class="btn btn-primary" (click)="crearTicket()" >Comprar/Crear</button>
    <!-- <button type="submit" class="btn btn-primary" (click)="cargarVentasEntabla()" >ir a ventas</button> -->
   
</form>

